/* *************** */
/*	Basic Setup	   */
/* *************** */

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
    --border-color: #FFCC7F;
    --gray-color: #eee;
    --sky-color: #0397D3;
    --white-color: #fff;
    --btn-color: #FF1948;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	font-size: 1.4rem;
	text-align: center;
}

a{
    text-decoration: none;
}

ul li{
	list-style: none;
}

h1{
    font-size: 4rem;
    margin: 1rem;
}


form{
    width: 50%;
}

input{
    width: 80%;
    height: 50%;
    margin-top: 3%;
    border: 1px solid var(--gray-color);
}

input:focus{
    outline: none;
}

.search{
    border-bottom: 2px solid var(--border-color);
}


/* *************** */
/*	Re-usable	   */
/* *************** */

.row{
    width: 100%;
    height: 100%;
}

.col{
    display: inline-block;
    width: 24.1%;
    height: auto;
    margin-left: 0.5%;
}

section{
    min-height: 37rem;
    padding: 2rem;
}


.container{
    max-width: 100%;
    height: 100%;
}

.icon{
    height: 3rem;
    width: 3rem;
}

.menu-icon{
    display: none;
}

.search-btn{
    height: 50%;
    width: 10%;
    border: 1px solid var(--gray-color);
    background: var(--sky-color);
    color: var(--white-color);
}

.icon-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6%;
}

.img-responsive{
    height: 100%;
    width: 100%;
}

.btn{
    height: 5rem;
    width: 90%;
    margin: 2rem;
    border-radius: 10rem;
    background: var(--btn-color);
    color: var(--white-color);
    border: none;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.btn:focus, .btn2:focus{
    outline:none;
}

.btn:hover{
    background: var(--white-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

/*START | Navbar styles */

.nav-container{
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;    
    transition: 1s all ease;
}

.nav-header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom: 1px solid var(--gray-color);
}

.nav-header h2{
    color: rgb(250, 218, 111);
}

.nav-items{
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-items li{
    padding: 1rem;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.nav-items li:hover{
    background-color: rgb(25, 90, 90);
    color: var(--white-color);
}

.nav-items li a{
    color: var(--whiteColor);
}

.menu-toggle{
    display: none;
    border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
    padding: 1rem;
    background: var(--blackColor);
    border: 0.1rem solid var(--whiteColor);
    color: var(--whiteColor);
    transition: 0.5s all ease;
}

.menu-toggle:hover{
    background: var(--whiteColor);
    border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 0.1rem solid var(--blackColor);
    color: var(--blackColor);
}

/*END | Navbar styles */


/*START | Slider section */

.slider{
    background: linear-gradient(to right, #180550, #9404E1);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.slider-left{
    height: 100%;
    padding: 1rem;
}

.slider-left p{
    color: var(--sky-color)
}

.slider-left h1{
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

/*END | Slider section */


/*START | services section */

.services{
    background-image: url("../images/services/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.single-service{
    background: url("../images/services/services-backgrounds.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0.5rem 0.3rem 1rem 0.1rem var(--gray-color);
    height: 100%;
    padding: 2rem;
}

.service-img{
    height: 7rem;
    width: 7rem;
    border-radius: 50% 50%;
    background: linear-gradient(#9404E1, #3F12D4 );
    margin: 2rem auto;
    padding: 1rem;
}

.service-img img{
    height: 3rem;
    width: 3rem;
}

.single-service .btn{
    width: 10rem;
    height: 3rem;
}

/*END | services section */


/*START | Courses section */

.courses{
    background-image: url("../images/courses/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
}

.single-course{
    background: var(--white-color);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0.5rem 0.3rem 1rem 0.1rem var(--gray-color);
    height: 100%;
    padding: 2rem;
}

.btn2{
    height: 5rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 10rem;
    background: var(--white-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

.btn2:hover{
    
    background: var(--btn-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);

}

/*END | Courses section */


/*Start | Footer section */

footer{
    background-image: url("../images/footer/background.png");
    background-size: cover;
    min-height: 40rem;
    color: white;
}

.subscribe-row{
    background: var(--white-color);
    width: 70%;
    margin-left: 15%;
    padding-top: 2rem;
    margin-bottom: 2rem;
    color: blue;
}


/*END | Footer section */


/* Media Queries */


@media screen and (max-width: 1024px){
    .col{
        width: 32.3%;
    }
}

@media screen and (max-width: 992px ){

    .navbar{
        flex-direction: column;
    }

    .icon-group{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .nav-items{
        display: none;
        flex-direction: column;
    }

    .menu-toggle{
        display: block;
    }

}

@media screen and (max-width: 500px){
    .col{
        width: 48.8%;
    }
}

@media screen and (max-width: 420px){
    .col{
        width: 100%;
    }
}